body {
  background: #1e3c72; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2a5298,
    #1e3c72
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-black {
  background: #477706;
}

.bg-agregar {
  background: #0a9745;
}

.bg-prof {
  background: #494b4a;
}

/* Lista */

body.lista {
  background: white !important;
}

@keyframes titilar-rojo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.rojo-titilando {
  color: red;
  animation: titilar-rojo 1s infinite;
}
